<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon icon="arrow-back-outline" class="text-2xl"></ion-icon>
        </button>
      </ion-button>
    </ion-buttons>
    <ion-title class="pl-1" slot="start"
      >{{ travel.title }} {{ "★".repeat(travel.valoration) }}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img
    src="{{ travel.imgUrl || 'https://st.depositphotos.com/2288675/2455/i/950/depositphotos_24553989-stock-photo-hotel.jpg  ' }}"
    class="max-h-96 h-80 object-cover border-2 border-white shadow-md shadow-white mb-4 mx-2 rounded-sm"
  ></ion-img>
  <form [formGroup]="bookingData" (ngSubmit)="createBooking()" class="mb-6">
    <ion-list inset="true" class="border-2 border-white">
      <ion-list-header>Fecha de inicio/fin reserva</ion-list-header>
      <ion-accordion-group>
        <ion-accordion value="start">
          <ion-item slot="header">
            <ion-label slot="start">Inicio</ion-label>
            <ion-label slot="end"
              ><span *ngIf="startDate">{{
                startDate.toLocaleDateString("en-GB")
              }}</span></ion-label
            >
          </ion-item>
          <ion-list slot="content">
            <ion-item class="no-effect-on-click no-inner-padding">
              <div class="flex justify-center w-full">
                <ion-datetime
                  formControlName="startDate"
                  #ionicStartDate
                  (ionChange)="setStartDate(ionicStartDate.value)"
                  size="cover"
                  presentation="date"
                  max="2030"
                  [min]="getFormatedTodayDate()"
                ></ion-datetime>
              </div>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="end" [disabled]="startDate ? 'false' : 'true'">
          <ion-item slot="header">
            <ion-label slot="start"><a>Fin</a></ion-label>
            <ion-label slot="end"
              ><span *ngIf="endDate">{{
                endDate.toLocaleDateString("en-GB")
              }}</span></ion-label
            >
          </ion-item>
          <ion-list slot="content">
            <ion-item
              class="no-effect-on-click no-inner-padding"
              *ngIf="startDate"
            >
              <div class="flex justify-center w-full">
                <ion-datetime
                  formControlName="endDate"
                  #ionicEndDate
                  (ionChange)="setEndDate(ionicEndDate.value)"
                  size="cover"
                  presentation="date"
                  max="2030"
                  [min]="startDate.toISOString().split('T')[0]"
                ></ion-datetime>
              </div>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
      <ion-item>
        <ion-label class="ml-4">Numero de personas</ion-label>
        <ion-select formControlName="persons" value="0">
          <ion-select-option>1</ion-select-option>
          <ion-select-option>2</ion-select-option>
          <ion-select-option>3</ion-select-option>
          <ion-select-option>4</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cama doble (+10€)</ion-label>
        <ion-checkbox #double formControlName="doubleBed"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-item class="border-t-2 border-t-white">
      <ion-title>Total: {{double.checked?total+10:total }}€</ion-title>
    </ion-item>
    <ion-button type="submit" expand="block" class="ml-4 mr-4"
      >Realizar reserva</ion-button
    >
  </form>
  <ion-item class="border-y-2 border-white">
    <ion-title>Comentarios</ion-title>
  </ion-item>
  <form [formGroup]="commentData" (ngSubmit)="postComment()">
    <ion-item class="no-effect-on-click">
      <div class="my-2 flex items-center w-full">
        <ion-avatar>
          <ion-img
            src="{{ currentUser.imgUrl }}"
            class="border-4 border-white"
          ></ion-img>
        </ion-avatar>
        <div class="mx-2">
          <ion-textarea
            formControlName="message"
            placeholder="Hotel recomendado por..."
            type="text"
            class="p-2 border border-white rounded-sm"
            cols="38"
            name="content"
          ></ion-textarea>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ngb-rating
        formControlName="rating"
        [max]="5"
        class="text-4xl w-full flex justify-center items-center"
      ></ngb-rating>
    </ion-item>
    <ion-button type="submit" expand="block" class="mb-8"
      >Enviar comentario</ion-button
    >
  </form>
  <app-Comment
    *ngFor="let comment of comments.reverse()"
    [comment]="comment"
  ></app-Comment>
</ion-content>
